<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting to Checkout</title>
</head>

<body>
    <h1>Redirecting to cancel payment...</h1>

    <script type="text/javascript">
        // Setelah halaman dimuat, akan langsung redirect ke halaman checkout
        window.location.href = '/categories?message=pembayaran+dibatalkan';
    </script>
</body>

</html>