<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profiles</title>
</head>

<body>
    <div>
        <form action="/profile/<%= id %>/add" method="post">
            <div class="mb-3">
                <label for="name" class="form-label">Nama</label>
                <input type="text" class="form-control" id="name" name="name" placeholder=" e.g. Burhan">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Tanggal Lahir</label>
                <input type="date" class="form-control" id="name" name="dateOfBirth" placeholder=" e.g. 20/02/2020">
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Alamat</label>
                <input type="text" class="form-control" id="name" name="address" placeholder=" e.g. Burhan">
            </div>
            <div class="mb-3">
                <label for="type" class="form-label">Gender</label>
                <select class="form-control" id="type" name="gender">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <button type="submit" class="btn btn-primary">Edit Data</button>

        </form>
    </div>

    <%- include('_bootstrap') %>
</body>

</html>